# Resources for android-qa-verification

Placeholder for scripts and other resources.